{{ define "main" }}
<title>{{ $.Site.Title }}</title>
	{{- partial "header.html" $ -}}
	{{ with .Site.Data.homepage.slidesSection }}{{ if .visible }}
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			{{ range .slides }}
			<li class="text-center">
				<img {{ partial `f/optimized` .image | safeHTMLAttr }} alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20">{{ .title | safeHTML }}</h1>
							<p class="m-b-40">{{ .description | safeHTML }}</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{{ .url }}">{{ .button_text }}</a></p>
						</div>
					</div>
				</div>
			</li>
			{{ end }}
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	{{ end }}{{ end }}
	{{- partial "about_section.html" $ -}}
	{{- partial "quote_section.html" $ -}}
	{{- partial "menu_section.html" $ -}}
	{{- partial "gallery_section.html" $ -}}
	{{- partial "customer_reviews_section.html" $ -}}
	{{- partial "contact_section.html" $ -}}
	{{- partial "footer.html" $ -}}
{{ end }}