<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ $.Site.Params.icon }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ $.Site.Params.logo }}">
{{ range $.Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .url }}">
{{ end }}
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript" src="{{ $.Site.Params.plugins.my_scripts.netlify_widget_url }}"></script>
{{ range $.Site.Params.plugins.scss }}
{{ $style := resources.Get .url | toCSS }}<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
</head>